echo "aiogram" > requirements.txt
echo "google-generativeai" >> requirements.txt
echo "python-dotenv" >> requirements.txt
echo "aiohttp" >> requirements.txt
echo "apscheduler" >> requirements.txt
echo "flask" >> requirements.txt